html, body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
}

div#root {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 90vw;
  max-width: 600px;
  height: 90vw;
  max-height: 600px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input, button{
  font-size: 2rem;
  text-align: center;
}

button {
  margin: 1rem;
  border-radius: 5px;
}